.season_tabs {
    position: relative;
    overflow-y: auto;
    max-height: 500px;
    min-height: fit-content;   
    margin-top: 10px;
  }
  .season_tab {
    clear: both;
   
  }
  .season_tab label {
      padding: 10px;
      border: 1px solid #ccc;
      margin-right: -1px;
      vertical-align: middle;
      position: relative;
      right: 1px;
      width: 100%;
      display: table-cell;
  }
  .season_tab [type=radio] {
    display: none;   
  }
  .season_content {
    position: absolute;
    top: 0;
    right: 286px;
    background: white;
    left: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    height: fit-content;
   }
  .season_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop; 
  }
  [type=radio]:checked ~ label {
    background: rgb(148, 224, 162);
    border-bottom: 2px solid #8bc34a;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .season_content {
    z-index: 1;
  }

  video {
    width: 100%;
    height: auto;
  }

.video-lock label {
 background: #ccc;
}


 .quiz .question-card {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 80%; /* Can be in percentage also. */
    height: auto;
  
    /* Visual  */
    background-color: #006241;
    padding: 16px;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  .quiz ul {
    list-style: none;
  }
  
  .quiz li {
    margin-top: 8px;
    background-color: #25a076;
    padding: 10px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .quiz .question-text {
    color: darkblue;
    font-size: 24px;
  }
  
  /* Final Results  */
  
  .quiz .final-results {
    /* Center the div  */
    margin: 0 auto;
  
    /* Dimensions  */
    width: 50%; /* Can be in percentage also. */
    height: auto;
    margin-top: 64px;
  
    /* Visual  */
    background-color: #006241;
    padding: 16px;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  
  .quiz button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  
    border-radius: 24px;
  }

  .ant-progress-inner.ant-progress-circle-gradient{
    height: 74px!important;
    width: 74px!important;
    font-size: 16px!important;
  }
