.ant-radio-checked .ant-radio-inner{
    border-color: #41A336 !important ;
    background-color: white!important;
  }
  
.ant-radio-checked .ant-radio-inner:after{
    background-color: #41A336!important;

}
  
.ant-radio:hover .ant-radio-inner {
    border-color: #41A336 !important;
}
